:root{
    --fuentePrincipal: "Staatliches", sans-serif;
    
}

body{
    font-family: var(--fuentePrincipal);
    background-color: #ffffff;
    opacity: 0.9;
    background-image: none;
    background-size: 10px 10px;
    font-family: var(--fuentePrincipal);
}

.nav-access{
    padding: 0px 15px;
    background-color:#013072;
}


.micontenido {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    /*overflow-x: auto;
    max-width: 1142px;
    height: 41px;
    -ms-overflow-style: none; /* Para IE y Edge */
    /*scrollbar-width: none; /*Para Firefox */
  }

.micontenido a{
    background-color: #00cc44;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;   
}

.micontenido a:hover{
    background-color: #457B9D;
}

/*.micontenido::-webkit-scrollbar {
    display: none; Para Chrome, Safari y Opera
  } 
  
.box {
    flex: 0 0 285px;
    height: 40px;
  } */

/*Div de enlaces*/
.opciones_hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box; /* Evita que el borde y el padding afecten al tamaño total */
}

.opciones_hero1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box; /* Evita que el borde y el padding afecten al tamaño total */
}

.opciones_hero_div {
    padding: 0%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 2px solid #ccc; /* Borde gris claro */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);;
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto */
    height: 80px; /* Define una altura fija para los cuadros */
}

.opciones_hero_div1 {
    padding: 0%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 2px solid #ccc; /* Borde gris claro */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);;
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto */
    height: 80px; /* Define una altura fija para los cuadros */
    margin: 0 20px;
}

.opciones_hero a {
    display: block;
    color: black;
    font-size: 9px;
    text-decoration: none;
}

.opciones_hero_div:hover {
    background-color: #5e5e5e; /* Cambio de color en hover */
}

@media (min-width: 768px) {
    .opciones_hero {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas medianas */
        gap: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1151px) {
    .opciones_hero {
        grid-template-columns: repeat(6, 1fr); /* 6 columnas en pantallas grandes */
        gap: 20px;
        margin-bottom: 20px;
    }
    .opciones_hero1 {
        grid-template-columns: repeat(4, 1fr); /* 6 columnas en pantallas grandes */
        gap: 20px;
        margin-bottom: 20px;
    }
}


/*Colores de los enlaces*/

/* .opciones_hero a:hover {
    background-color: #70db70; 
} 

.opciones_hero .directorio {
    background-color: #A8D0E6; 
}

.opciones_hero .resoluciones {
    background-color: #F9E79F; 
}

.opciones_hero .gestion-documentos {
    background-color: #A2D5AB; 
}

.opciones_hero .galeria {
    background-color: #D4A5A5;
}

.opciones_hero .integridad {
    background-color: #FF6B6B;
}

.opciones_hero .siagie {
    background-color: #6BDAE7;
}

.opciones_hero .presupuesto {
    background-color: #A8D0E6;
}

.opciones_hero .registro-visitas {
    background-color: #A2D5AB; 
}

.opciones_hero .aprende-huanuco {
    background-color: #F9E79F;
}

.opciones_hero .boletin-informativo {
    background-color: #D4A5A5; 
}

.opciones_hero .directorio-dre-ugel {
    background-color: #FF6B6B; 
}

.opciones_hero .agenda-directoral {
    background-color: #FFB84D; 
}
*/

/*Estilo del carrusel*/

.cm_banner-carousel-five {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px;
    margin-bottom: 20px;
}

.cm_banner-carousel-five .item {
    background-color: #ffffff;
    border: 1px solid #ccc; /* Borde gris claro alrededor de cada tarjeta */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
    transition: transform 0.3s ease;
}

.cm_banner-carousel-five .item:hover {
    transform: translateY(-5px); /* Efecto hover para darle una sensación de elevación */
}

.post_thumb {
    width: 100%;
    height: 200px; /* Ajusta la altura de la imagen */
    background-size: cover;
    background-position: center;
}

.post-holder {
    padding: 15px;
    text-align: center;
}

.post_title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.entry_cats {
    margin-bottom: 15px;
}

.entry_cats ul {
    list-style-type: none;
    padding: 0;
}

.entry_cats ul li {
    display: inline-block;
    margin-right: 10px;
}

.entry-cats a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.entry-cats a:hover {
    text-decoration: underline;
}

.cm-post-meta {
    margin-top: 10px;
}

.cm-post-meta .post_meta {
    list-style-type: none;
    padding: 0;
}

.cm-post-meta .post_meta li {
    display: inline-block;
    margin-right: 15px;
}

.cm-post-meta .posted_date a {
    color: #555;
    font-size: 14px;
}

.card img {
    width: 100%; /* La imagen ocupará el 100% del ancho disponible en su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente para llenar el espacio */
}

.card-title{
    font-size: 10px;
}

.card-text{
    font-size: 8px; /* Tamaño de la fuente para la descripción */
}

.containter-card{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.div-card{
    justify-content: center;
    border-top: 10px;
}

.blue{
    background-color: #0069d9;
}

.red{
    background-color: #dc3545;
}


.custom-hover {
    color: white;
    height: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 12px;
}

.btncor{
    padding: 5px 10px;
    /* border-width:2px;
    cursor: pointer;
    line-height: normal;
    text-transform: capitalize;
    transition:all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1; */
}

.ptt {
    padding: 0%;
}

@media (min-width: 768px) {
    .col-md-8 {
      margin: 0 auto;
    }
  }

  /* Eliminar borde del contenedor del carrusel */
.banner_section {
    border: none; /* Elimina cualquier borde alrededor del contenedor */
}

/* Eliminar borde del carrusel */
.carousel {
    border: none; /* Elimina el borde alrededor del carrusel */
}

/* Si el borde aparece en los items del carrusel, eliminar también allí */
.carousel-item {
    border: none; /* Elimina el borde alrededor de cada item */
}

section {
    padding: 10px;
}

.hp {
    height: 400px;   
}

.section_2 {
    padding: 50px 0 ;
}

.img-contenida {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.25rem; /* opcional: para bordes suaves */
}

.cont-img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.txt-ah3 {
    font-size: 16px;
}

.txt-uno {
    font-size: 12px;
}

.custom-select {
    font-size: 18px;   /* Aumenta el tamaño de la fuente */
    padding: 12px;     /* Aumenta el relleno interno */
    height: 50px;      /* Ajusta la altura del select */
}

.fs-custom {
    font-size: 12px;
}

blockquote.tiktok-embed {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    list-style: none !important;
}

blockquote.tiktok-embed section {
    margin: 0 !important;
    padding: 0 !important;
}



/* Estilo para el contenedor del galeria */
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.our-webcoderskull{
   background:#f5f5f5; 
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:0px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:250px; 
   height:160px; 
   display:inline-block;
   margin-bottom: 3px;
}
.our-webcoderskull .cnt-block img{ 
   width:250px; 
   height:160px; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

.social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0; /* Establecemos la barra en la izquierda */
    top: 200px; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {
    background: #00abf0;
}
.social ul li .icon-googleplus {
    background: #d95232;
}
.social ul li .icon-pinterest {
    background: #ae181f;
}
.social ul li .icon-mail {
    background: #666666;
}

.social ul li a:hover {
    background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
